body {background-color: rgb(95, 179, 179);
color:brown;
text-align:center;
font-family:'Poppins', sans-serif;
margin:0;
padding: 20px;}
h1 {
    color: rgb(230, 237, 22);
    text-align: center;
}
h2 {
    color: rgb(35, 132, 38);
    text-align: center;
}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgb(210, 148, 48);
    border: 4px solid #4d0e66;
}
ul {
    list-style-type: none;
    padding: 0;
}